* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dodgerblue;
    padding: 50px;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-bottom: 15px;
}

#contact-info {
    border: 2px solid black;
    padding: 20px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

#contact-image {
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

#contact-email {
    background-color: orangered;
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
}
#contact-email a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}